# Visual Studio
.vs/
*.user
*.suo

# Node / Expo
node_modules/
.expo/
dist/
web-build/

# Env
.env
.env.*
!.env.example

# Credentials & service accounts
Credentials.txt

# Build output

# Others
*.log
*.pdb
/ol-kollen-firebase-adminsdk-fbsvc-a0644472f5.json
